$background: #f5f7fa;
$main : #b8c6db;
$point: #0098FA;
$blue-1 : #F0FAFF;
$mint : #E6F4F1;
$dark-1 : #444;
$white-1 : #fff;
$white-2 : #f9f9f9;
//Header

.UserProfile {
    width: 230px;
    padding: 15px;
    border: 1px solid $dark-1;
    background-color: $white-1;
    z-index: 5;


    >button {
        width: 100%;
        background-color: $dark-1;
        color: $white-1;
    }
}

.nav {
    >a {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.MobileNav {
    >a {
        cursor: pointer;
        background-color: #f9f9f9;
        padding: 10px 0 10px 5px;
        width: 100%;

        &:hover {
            background-color: $main;
        }
    }

}

.SiderBottom {
    >button {
        &:hover {
            font-weight: 600;
        }
    }
}

//home

.HomeTd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h4 {
        font-weight: 600;
        font-size: 20px;
    }

    > p {
        font-size: 18px;
    }
}


//members

.MemberContainer {
    padding: 48px;

    @media screen and (max-width: 768px) {
        padding-right: 36px;
        padding-left: 36px;
    }
}

.MemberCheck {

    >label {
        margin-right: 5px;

        >span {
            margin: 4px;
        }
    }
}

.DatePickerStyle {
    border: 1px solid #f0faff;
    border-radius: 15px;
    background-color: #f0faff;
    padding: 5px 15px;
}

.selectOption {
    > option:first-child {
        color :$white-2;
    }
}

.react-datepicker__triangle {
    display: none;
}


.SearchFlex {
    > form {
        width: 100%;
    >input {
        width: 60%;
    }

    >button {
        background-color: $main;
        color: $dark-1;
        padding: 8px 15px;
        margin-left: 10px;
        border-radius: 5px;
    }
}
}

.TableContainer {
    padding: 48px;
}

.TableStyle {
    min-width: 800px;

}




//MemInfo


.InfoContainer {
    padding: 120px 64px;

    @media screen and (max-width: 768px) {
        padding-right: 36px;
        padding-left: 36px;
    }
}

.InfoBox {
    display: flex;
    padding: 15px 8px;
    gap: 50px;
    border-bottom: 1px solid $dark-1;

    >h4 {
        font-weight: 600;
    }


    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        gap: 20px;

    }
}


//MemPay


.PaymentContainer {
    padding: 120px 64px;

    @media screen and (max-width: 768px) {
        padding-right: 36px;
        padding-left: 36px;
    }
}

.payBox {
    display: flex;
    padding: 15px 8px;
    gap: 50px;
    border-bottom: 1px solid $dark-1;

    >h4 {
        font-weight: 600;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        gap: 20px;

    }
}

//QuestionDetail

.QuestionContainer {
    padding: 120px 64px;

    @media screen and (max-width: 768px) {
        padding-right: 36px;
        padding-left: 36px;
    }
}

.QuestionBox {
    background-color: $white-1;
    display: flex;
    padding: 15px;
    gap: 50px;
    border-bottom: 1px solid #ededed;

    >h4 {
        font-weight: 600;
    }

    >p {
        max-width: 800px;
    }

    >div>label {
        margin-right: 5px;

        >span {
            margin: 4px;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        gap: 20px;

    }
}
