$background: #f5f7fa;
$main : #b8c6db;
$dark-1 : #444;
$white-1 : #fff;
//Header

.UserProfile {
    width: 230px;
    padding: 15px;
    border: 1px solid $dark-1;

    > button {
        width: 100%;
        background-color: $dark-1;
        color: $white-1;
    }
}   

.MobileNav {
    > p {
        cursor: pointer;
        background-color: #f9f9f9;
        padding: 10px 0 10px 5px;
        width: 100%;

        &:hover {
            background-color: $main;
        }
    }

}